[Unit]
Description=HU Main App Wayland Compositor
After=weston.service vsomeip-routing-manager.service
Requires=weston.service vsomeip-routing-manager.service

[Service]
Type=simple
User=weston
Environment="XDG_RUNTIME_DIR=/run/user/1000"
Environment="WAYLAND_DISPLAY=wayland-1"
Environment="QT_QPA_PLATFORM=wayland"
Environment="QT_WAYLAND_DISABLE_WINDOWDECORATION=1"
Environment="QSG_RENDER_LOOP=basic"
Environment="QT_QUICK_BACKEND=software"
ExecStart=/usr/bin/HU_MainApp_Compositor
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
